<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="card mt-5">
    <div class="card-body">
      <h5>Editar Faturamento mensal da Empresa</h5>
      <p>Preencha os campos para editar um Faturamento.</p>
      <hr/>

      <div class="text-success">
        <strong></strong>
      </div>

      <div class="text-danger">
        <strong></strong>
      </div>
      <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>{{mensagem}}</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
      </div>
      <form [formGroup]="formFaturamentopj" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="idfaturamento" />
        <input type="hidden" formControlName="idEmpresa   " />

        <div class="row mb-2">
          <div class="col-md-8 mt-3">
            <label for="formFile" class="form-label">Empresa</label>
            <ng-select
            [items]="empresas"
            bindLabel="cnpj"
            bindValue="idEmpresa"
            class="form-select custom-ng-select"
            formControlName="idEmpresa"
            [ngClass]="{'is-invalid': formFaturamentopj.get('idEmpresa')?.invalid && formFaturamentopj.get('idEmpresa')?.touched}"
            >
            <ng-template ng-label-tmp let-item="item">
              <div class="custom-bg" style="z-index: 1000;">
                {{ item.nomefantasia }} {{ item.cnpj }}
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                {{ item.nomefantasia }} {{ item.cnpj }}
              </div>
            </ng-template>
          </ng-select>
          
        </div>

          <div class="col-md-2">
            <label>Data de Inicio</label>
            <input type="date" formControlName="data_inicio" class="form-control"/>
          </div>

          <div class="col-md-2">
            <label>Data de Fim</label>
            <input type="date" formControlName="data_fim" class="form-control"/>
          </div>
        </div>

        <!-- Adicione os novos campos aqui -->
        <div class="row mb-2">
          <div class="col-md-4">
            <label>Venda:</label>
            <input type="text" class="form-control" formControlName="venda"/>
          </div>

          <div class="col-md-4">
            <label>Nota Fiscal:</label>
            <input type="text" class="form-control" formControlName="notafiscal"/>
          </div>

          <div class="col-md-4">
            <label>Valor:</label>
            <input type="text" class="form-control" formControlName="valor"/>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4">
            <label>Comprador:</label>
            <input type="text" class="form-control" formControlName="comprador"/>
          </div>

          <div class="col-md-4">
            <label>Telefone:</label>
            <input type="text" class="form-control" formControlName="telefone"/>
          </div>

          <div class="col-md-4">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email"/>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4">
            <label>Responsável Financeiro:</label>
            <input type="text" class="form-control" formControlName="responsavelfinanceiro"/>
          </div>

          <div class="col-md-4">
            <label>Telefone Financeiro:</label>
            <input type="text" class="form-control" formControlName="telefonefinanceiro"/>
          </div>

          <div class="col-md-4">
            <label>WhatsApp:</label>
            <input type="text" class="form-control" formControlName="whatsapp"/>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4">
            <label>Email Financeiro:</label>
            <input type="text" class="form-control" formControlName="emailfinanceiro"/>
          </div>

          <div class="col-md-8">
            <label>Observações:</label>
            <textarea class="form-control" formControlName="observacoes"></textarea>
          </div>
        </div>

        <div class="row mb-2 mt-3">
          <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Editar Faturamento"/>
          </div>
        </div>
      </form>

      <div class="col-md-12">
        <button (click)="printPage()">Gerar PDF</button>
      </div>
    </div>
  </div>
</div>
