<app-navbar></app-navbar>
<div class="container mt-5">
		
    <div class="card mt-5">
        <div class="card-body">                


            <h5>Criar Matricula Funcionario Faturamento PJ</h5>
            <p>Preencha os campos para criar um Faturamento.</p>
            <hr/>
            
        <div class="text-success">
                    <strong></strong>
                </div>
                
                <div class="text-danger">
                    <strong></strong>
                </div>
                <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>{{mensagem}}</strong>
                    <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
                </div>
                <form [formGroup]=" formFaturamentoPJ" (ngSubmit)="onSubmit()">
                 <input type="hidden" formControlName="idTurmas">
                 <input type="hidden" formControlName="id">


                <div class="row mb-2">
                    <div class="col-md-3">
                        <label>Venda:</label>
                        <input  type="text" name="nome" id="nome" class="form-control"
                        formControlName="venda"/>
                    </div>

                    <div class="col-md-3">
                        <label>Valor:</label>
                        <input  type="text" name="nome" id="nome" class="form-control"
                        formControlName="valor" name="FaturamentoPj" required="FaturamentoPj"/>
                    </div>
				
                    <div class="col-md-3 mt-4">

                        <select class="form-select" placeholder="tipo_de_pagamento" aria-label="Default select example" formControlName="tipo_de_pagamento"
                            name="valor" id="valor" required>
                            <option value="FaturamentoPj">FaturamentoPj</option>
                        </select>
                    </div>

                    <div class="col-md-3 mt-4">

                        <select class="form-select" placeholder="status" aria-label="Default select example" formControlName="status"
                            name="valor" id="valor" required>
                            <option value="Ativa">Ativa</option>
                            <option value="Ativa">Cancelada</option>

                        </select>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label for="formFile" class="form-label">Funcionario</label>
                        <ng-select
                        [items]="funcionarios"
                        bindLabel="cpf"
                        bindValue="idFuncionario"
                        class="form-select custom-ng-select"
                        formControlName="funcionario"
                        [ngClass]="{'is-invalid': formFaturamentoPJ.get('funcionario')?.invalid && formFaturamentoPJ.get('funcionario')?.touched}"
                      >
                        <ng-template ng-label-tmp let-item="item">
                          <div class="custom-bg" style="z-index: 1000;">
                            {{ item.nome }} - CPF: {{ item.cpf }}
                          </div>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                          <div>
                            {{ item.nome }} - CPF: {{ item.cpf }}
                          </div>
                        </ng-template>
                      </ng-select>
                      
                    </div>	
                    
                  
                

                               <div class="col-md-6 mt-3">
                            <label for="formFile" class="form-label">Faturamento</label>
                            <ng-select
                            [items]="faturamentos"
                            bindLabel="numeroFaturamento"
                            bindValue="idfaturamento"
                            class="form-select custom-ng-select"
                            formControlName="faturamento"
                            [ngClass]="{'is-invalid': formFaturamentoPJ.get('faturamento')?.invalid && formFaturamentoPJ.get('faturamento')?.touched}"
                          >
                            <ng-template ng-label-tmp let-item="item">
                              <div class="custom-bg" style="z-index: 1000;">
                             Empresa: {{ item.empresa }} - CNPJ: {{ item.cnpj }} - Data de Início: {{ item.data_inicio | date:'dd/MM/yyyy' }}
                              </div>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                              <div>
                                {{ item.empresa }} - CNPJ: {{ item.cnpj }} - Início: {{ item.data_inicio | date:'dd/MM/yyyy' }} - Fim: {{ item.data_fim | date:'dd/MM/yyyy' }}
                              </div>
                            </ng-template>
                          </ng-select>
                          
                        </div>	
			
                <div class="row mb-2 mt-3">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success" value="Realizar Cadastro"/>
                    </div>
                </div>
            </div>

            </form>
         
        </div>
    </div>

</div>
