<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="card mt-5">
    <div class="card-body">
      <h5>Criar Faturamento mensal de Empresa</h5>
      <p>Preencha os campos para criar um Faturamento.</p>
      <hr/>
      <div class="text-success">
        <strong></strong>
      </div>
      <div class="text-danger">
        <strong></strong>
      </div>
      <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>{{mensagem}}</strong>
        <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
      </div>
      <form [formGroup]="formFaturamentopj" (ngSubmit)="onSubmit()">
        <div class="row mb-2">
          <div class="col-md-3 mt-3">
            <label for="formFile" class="form-label">Digite o CNPJ da Empresa</label>
            <ng-select
            [items]="empresas"
            bindLabel="cnpj"
            bindValue="idEmpresa"
            class="form-select custom-ng-select"
            formControlName="idEmpresa"
            [ngClass]="{'is-invalid': formFaturamentopj.get('idEmpresa')?.invalid && formFaturamentopj.get('idEmpresa')?.touched}"
            >
            <ng-template ng-label-tmp let-item="item">
              <div class="custom-bg" style="z-index: 1000;">
                {{ item.nomefantasia }} {{ item.cnpj }}
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div>
                {{ item.nomefantasia }} {{ item.cnpj }}
              </div>
            </ng-template>
          </ng-select>
          
        </div>	
          <div class="col-md-3 mt-4">
            <label>Data de Início</label>
            <input type="date" formControlName="data_inicio" class="form-control"/>
          </div>
          <div class="col-md-3 mt-4">
            <label>Data de Fim</label>
            <input type="date" formControlName="data_fim" class="form-control"/>
          </div>
          <div class="col-md-3 mt-4">
            <label>Data Pagamento</label>
            <input type="date" formControlName="data_de_pagamento" class="form-control"/>
          </div>
          <!-- Adicione os novos campos -->
          <div class="col-md-1">
            <label>Venda:</label>
            <input type="text" class="form-control" formControlName="venda"/>
          </div>
          <div class="col-md-1">
            <label>Nota Fiscal:</label>
            <input type="text" class="form-control" formControlName="notafiscal"/>
          </div>
          <div class="col-md-1">
            <label>Valor:</label>
            <input type="text" class="form-control" formControlName="valor"/>
          </div>
          <div class="col-md-3">
            <label>Comprador:</label>
            <input type="text" class="form-control" formControlName="comprador"/>
          </div>
          <div class="col-md-3">
            <label>Telefone:</label>
            <input type="text" class="form-control" formControlName="telefone"/>
          </div>
          <div class="col-md-3">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email"/>
          </div>
          <div class="col-md-3">
            <label>Responsável Financeiro:</label>
            <input type="text" class="form-control" formControlName="responsavelfinanceiro"/>
          </div>
          <div class="col-md-3">
            <label>Telefone Financeiro:</label>
            <input type="text" class="form-control" formControlName="telefonefinanceiro"/>
          </div>
          <div class="col-md-3">
            <label>WhatsApp:</label>
            <input type="text" class="form-control" formControlName="whatsapp"/>
          </div>
          <div class="col-md-3">
            <label>Email Financeiro:</label>
            <input type="text" class="form-control" formControlName="emailfinanceiro"/>
          </div>

          <div class="row">

            <div class="col-md-3">
              <label>Quantidade de Parcelas:</label>
              <input type="text" class="form-control" formControlName="parcelas"/>
            </div>

            <div class="col-md-3">
              <label>Forma de Pagamento:</label>
              <input type="text" class="form-control" formControlName="forma_de_pagamento"/>
            </div>


          <div class="col-md-6">
            <label>Observações:</label>
            <textarea class="form-control" formControlName="observacoes"></textarea>
          </div>
        </div>

        </div>
        <div class="row mb-2 mt-3">
          <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Realizar Cadastro"/>
          </div>
          
        </div>
      </form>
      <div class="col-md-12">
        <button (click)="printPage()">Gerar PDF</button>
      </div>
    </div>
  </div>
</div>
