<app-navbar></app-navbar>

<div class="container mt-3">

    <div class="card">
        <div class="card-body">

            <div class="row mb-2 mt-4">
                <div class="col-md-9 mt-1">
                    <h5>Chamados</h5>
                </div>
                <div class="col-md-3 mt-1">
                    <a href="criar-chamado" class="btn btn-primary">Criar Chamado</a>

                </div>
            </div>
            <hr />


            <div class="row mb-2">

                <div class="col-md-7">
                  
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" [(ngModel)]="filtro.nome_contato"
                        placeholder="Pesquisar pelo nome do contato" />
                </div>
            </div>

            <div class="table-responsive mt-2">
                <table id="consulta_chamados" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Atendente</th>
                            <th>Descriçao</th>
                            <th>Status</th>
                            <th>Operações</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of chamados | ngxSearchPipe:filtro.nome_contato">

                            <td>{{c.nome_contato | uppercase}}</td>
                            <td>{{c.telefone}}</td>
                            <td>{{c.nome_atendente}}</td>
                            <td>{{c.descreva_chamado}}</td>
                            <td>{{c.status_chamado}}</td>

                            <td>

                                <button class="btn btn-sm btn-outline-primary" [routerLink]="['/editar-chamado', c.id]">
                                    Editar
                                </button>
                                <button class="btn btn-sm btn-outline-danger me-2" 
                                (click)="onDelete(c.id, c.nome)"
                                
                                >
                                    Excluir
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                Quantidade de Chamados: {{(chamados).length}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

    <!-- componente de paginação -->
    <div class="text-center">
        <pagination-controls (pageChange)="pageChange($event)" previousLabel="Página anterior"
            nextLabel="Próxima página">
        </pagination-controls>
    </div>
        </div>
    </div>

</div>