<app-navbar></app-navbar>
<div class="container mt-3">

    <div class="card">
        <div class="card-body">

            <div class="row mb-2 mt-4">
                <div class="col-md-9 mt-1">
                    <h5>Lista de Funcionários</h5>
                            </div>
                                  <div class="col-md-3 mt-1">
                                <a href="consultar-empresa" class="btn btn-primary">Voltar</a>

                                        </div>
                                                   </div>



            <div class="table-responsive mt-2">
                <form [formGroup]="formConsultarFuncionario">
                    <input type="hidden" formControlName="idEmpresa" />
                </form>

                <table id="consulta_empresas" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>RG</th>
                            <th>Funcao</th>
                            <th>Matricula</th>

                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let e of empresas">    
                            <td>{{e.razaosocial}}</td>
                                <td>
                            <a
                                    href="/editar-funcionario"
                                    class="btn btn-primary btn-sm"> Editar 
                                </a> 
                                    
                                    <a
                                    href=""
                                    class="btn btn-sm btn-outline-danger"
                                    onclick="return confirm('Deseja realmente excluir a Empresa: ?');">
                                        Excluir 
                                    </a>
                                    
                                    </td>
                            </tr>

                           

                          

                    </tbody>
                </table>
            </div>


        </div>

    </div>
</div>
