<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="card">
        <div class="card-body">

 
          <div class="row mb-2 mt-4">         
            <div class=" col-6">
       <h5>Lista de Todas as Matriculas</h5>
        </div>

        <div class="col-6 text-left">
          <input type="text" class="form-control" [(ngModel)]="filtro.nome_contato"
            placeholder="Pesquisar pelo nome do contato" />
        </div>
        
      </div>

      <div class="row d-flex justify-content-center bg-light">             
        <div class="col-12 d-flex justify-content-center">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">Período: </span>
            <button class="btn btn-outline-secondary" (click)="mudarMes(-1)">&lt; Anterior</button>
            
            <!-- Adição do dropdown para selecionar o mês -->
            <div class="dropdown mx-3">
             <button class="btn btn-success m-1 dropdown-toggle" type="button" id="mesDropdown"
                                      data-bs-toggle="dropdown" aria-expanded="false">
                                    MESES  DO ANO
                                  </button>
                <ul class="dropdown-menu btn-sm border dropdown-menu-primary">
                 <li> <a class="dropdown-item" (click)="selecionarMes(0)">Janeiro</a></li>
                <a class="dropdown-item" (click)="selecionarMes(1)">Fevereiro</a>
                <a class="dropdown-item" (click)="selecionarMes(2)">Março</a>
                <a class="dropdown-item" (click)="selecionarMes(3)">Abril</a>
                <a class="dropdown-item" (click)="selecionarMes(4)">Maio</a>
                <a class="dropdown-item" (click)="selecionarMes(5)">Junho</a>
                <a class="dropdown-item" (click)="selecionarMes(6)">Julho</a>
                <a class="dropdown-item" (click)="selecionarMes(7)">Agosto</a>
                <a class="dropdown-item" (click)="selecionarMes(8)">Setembro</a>
                <a class="dropdown-item" (click)="selecionarMes(9)">Outubro</a>
                <a class="dropdown-item" (click)="selecionarMes(10)">Novembro</a>
                <a class="dropdown-item" (click)="selecionarMes(11)">Dezembro</a>

                </ul>
            </div>
          
            <span class="navbar-text mx-3">{{ periodoAtual }}</span>
            <button class="btn btn-outline-secondary" (click)="mudarMes(1)">Próximo &gt;</button>      
          </nav>
                </div>
                
            </div>

         
      
            <hr />

        
            <div class="table-responsive mt-2">
                        <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Empresa</th>
						                <th>Matricula</th>
                            <th>Funcionario</th>
                            <th>CPF</th>
                            <th>Curso</th>
                            <th>Vencimento</th>
                            <th>Evidências</th>
                            <th>Operações</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of matriculas | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual } | ngxSearchPipe:filtro.nome_contato">
                            <td>{{ m.funcionario?.empresa?.nomefantasia }}</td> <!-- Usar operador de navegação segura '?' -->
                            <td>{{m.numeroMatricula}}</td>
                            <td>{{ m.funcionario?.nome }}</td>
                            <td>{{ m.funcionario?.cpf }}</td>
                            <td>{{ m.turmas?.curso?.curso }}</td> <!-- Use o operador de navegação segura '?.' -->
                            <td>{{ m.turmas?.validadedocurso | date: 'dd/MM/yyyy'}}</td> <!-- Use o operador de navegação segura '?.' -->


                            <td>

                            

                              

                              <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                                   Incluir</button>


                          <ul class="dropdown-menu btn-sm border dropdown-menu-primary">

                                    <li>  <a data-bs-toggle="modal" 
                          data-bs-target="#cadastrarEvidenciaModal"
                          (click)="setEvidencias(matriculaSelecionada)"                                
                                      >Incluir Evidência</a></li>

                                  

                                  <li>  <a data-bs-toggle="modal" 
                                    data-bs-target="#incluirUsuario"
                                    (click)="setEvidencias(matriculaSelecionada)"  
                                    (click)="setEvidencias(m)"                                
                              
                                                >Incluir Acessos</a></li>
          
                                            </ul>
                          
                                            <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                 Consultar</button>
              
              
                                        <ul class="dropdown-menu btn-sm border dropdown-menu-primary">
              
                                                  <li>  <a   data-bs-toggle="modal" 
                                                      data-bs-target="#ConsultarEvidenciaModal"
                                                      (click)="setEvidencias(matriculaSelecionada)"
                                                      (click)="exibirEvidencias(m)"                                
                                                    >Consultar Evidências</a></li>

                                                    <li>  <a   data-bs-toggle="modal" 
                                                      data-bs-target="#usuariosModal"
                                                      (click)="setEvidencias(matriculaSelecionada)"
                                                      (click)="exibirUsuarios(m)"                                
                                                    >Consultar Acessos Incluidos</a></li>
              
                                                </ul>

                        </td>
                         
                              
                              <td>
                         
                              
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                     Listas</button>
  
  
                            <ul class="dropdown-menu btn-sm border dropdown-menu-primary">
  
                                      <li> <a href="lista-de-presenca-primeiro-dia-pessoa-juridica"
                                        class="dropdown-item btn btn-primary"
                                        [routerLink]="['/lista-de-presenca-primeiro-dia-pessoa-juridica', m.idMatricula]"                                 
                                        >Primeiro Dia</a></li>
  
                                        <li> <a href="lista-de-presenca-segundo-dia-pessoa-juridica"
                                          class="dropdown-item btn btn-primary"
                                          [routerLink]="['/lista-de-presenca-segundo-dia-pessoa-juridica', m.idMatricula]"                                 
                                          >Segundo Dia</a></li>
  
  
                                          <li> <a href="lista-de-presenca-terceiro-dia-pessoa-juridica"
                                            class="dropdown-item btn btn-primary"
                                            [routerLink]="['/lista-de-presenca-terceiro-dia-pessoa-juridica', m.idMatricula]"                                 
                                            >Terceiro Dia</a></li>
  
                              
                                            <li> <a href="lista-de-presenca-quarto-dia-pessoa-juridica"
                                              class="dropdown-item btn btn-primary"
                                              [routerLink]="['/lista-de-presenca-quarto-dia-pessoa-juridica', m.idMatricula]"                                 
                                              >Quarto Dia</a></li>
  
                                              
                                        <li> <a href="lista-de-presenca-quinto-dia-pessoa-juridica"
                                          class="dropdown-item btn btn-primary"
                                          [routerLink]="['/lista-de-presenca-quinto-dia-pessoa-juridica', m.idMatricula]"                                 
                                          >Quinto Dia</a></li>
  
                                    </ul>
                                <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                       Certificados</button>
  
  
                              <ul class="dropdown-menu btn-sm border dropdown-menu-primary">
  
                                <li> <a href="gerar-certificado"
                                  class="dropdown-item btn btn-primary"
                                  [routerLink]="['/gerar-certificado', m.idMatricula]"                                 
                                  >Gerar Certificado</a></li>
  
                                  <li> <a
                                    class="dropdown-item btn btn-primary"
                                    [routerLink]="['/gerar-autorizacao', m.idMatricula]"                                 
                                    >Gerar Autorização</a></li>
  
                                     
                                    <li> <a
                              
                                      [routerLink]="['/editar-matricula', m.idMatricula]"                                 
      
      
                                     class="dropdown-item btn btn-sm btn-primary"
                                    >Editar Matricula</a></li>         
                              </ul>
                              </td>

                       
                        </tr>
                    </tbody>
                
                </table>
                Quantidade de Matriculas: {{(matriculas).length}}

                <pagination-controls 
                (pageChange)="paginaAtual = $event"
                previousLabel="Página anterior"
                nextLabel="Próxima página"
                [maxSize]="10" 
                [itemsPerPage]="itensPorPagina" 
              ></pagination-controls> 

            </div> 

            
<div class="modal fade" id="incluirUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Usuários a esta Matricula</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
          <strong>{{ mensagem }}</strong>
          <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
        </div>

        <form [formGroup]="formIncluirUsuario" (ngSubmit)="IncluirUsuarioSubmit()">
          <input type="hidden" formControlName="idMatricula" />       
          <div formArrayName="idsUsuarios">
            <div *ngFor="let item of formUsuarios.controls; let i = index">
              <div class="row mb-2" [formGroupName]="i">
                <div class="col-md-8">
                  <label for="formFile" class="form-label">Usuários</label>
                  <ng-select
                  [items]="usuarios"
                  bindLabel="email"
                  bindValue="id"
                  class="form-select custom-ng-select"
                  formControlName="id"
                  [ngClass]="{'is-invalid': formIncluirUsuario.get('id')?.invalid && formIncluirUsuario.get('id')?.touched}"
                  [appendTo]="'#incluirUsuario .modal-content'"
                >
                  <ng-template ng-label-tmp let-item="item">
                    <div class="custom-bg" style="z-index: 1000;">
                      {{ item.email }}
                    </div>
                  </ng-template>
                </ng-select>
                
                


                
              </div>	
                  <div class="col-md-4">
                    <div class="mt-4">
                      <button
                        type="button"
                        class="btn btn-outline-danger"
                        (click)="removerUsuario(i)"
                      >
                        Remover
                      </button>
                    </div>
                  </div>

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mt-4">
              <button
                class="btn btn-outline-primary"
                type="button"
                (click)="adicionarUsuario()"
              >
                Adicionar Usuario
              </button>
              &nbsp;
              <button
                type="button"
                class="btn btn-outline-danger"
                [disabled]="formUsuarios.length == 0"
                (click)="removerUltimoUsuario()"
              >
                Remover último Usuário
              </button>

              <button
              class="btn btn-outline-primary m-1"
              type="button"
              (click)="IncluirUsuarioSubmit()"
            >
              Salvar Usuario
            </button>

            </div>
          </div>


          <div class="modal-footer">
            <div class="row mb-2">
              <div class="col-md-12">
            
              </div>
            </div>
          </div>
        
        </form>



      </div>
    </div>
  </div>
</div>

            <div class="modal fade" id="cadastrarEvidenciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Evidência da Matricula</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="modal-body">
                    <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
                      <strong>{{mensagem}}</strong>
                      <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
                  </div>
      <form [formGroup]="formCadastrarEvidencias" (ngSubmit)="CadastrarEvidenciaSubmit()">
        <input type="hidden" formControlName="idMatricula" />
        <div class="mb-2">             
      </div>
        <div class="row">  
        <div class="col-md-12">
          <label for="recipient-name" class="col-form-label">Evidência:</label>
          <input type="text" class="form-control" id="recipient-name"
          formControlName="evidencias">
        </div>
        <div class="col-md-12">
          <label for="recipient-name" class="col-form-label">Descrição:</label>
          <input type="text" class="form-control" id="recipient-name"
          formControlName="descricao">
        </div>
          
      </div>
      <div class="modal-footer">
        <div class="row mb-2">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary"
            (click)="CadastrarEvidenciaSubmit()" data-bs-dismiss="modal"           
            
            >
            Cadastrar Evidência
        </button>                  
      </div>
      </div>
      </div>               
      </form>
    </div>
  </div>
  </div>
  </div>
  

  <div class="modal fade" id="editarEvidenciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Evidência da Matricula</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>{{mensagem}}</strong>
            <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
        </div>
<form [formGroup]="formEditarEvidencias" (ngSubmit)="EditarEvidenciaSubmit()">
<input type="hidden" formControlName="idMatricula" />
<input type="hidden" formControlName="idEvidencias" />

<div class="mb-2">             
</div>
<div class="row">  
<div class="col-md-12">
<label for="recipient-name" class="col-form-label">Evidência:</label>
<input type="text" class="form-control" id="recipient-name"
formControlName="evidencias">
</div>
<div class="col-md-12">
<label for="recipient-name" class="col-form-label">Descrição:</label>
<input type="text" class="form-control" id="recipient-name"
formControlName="descricao">
</div>

</div>
<div class="modal-footer">
<div class="row mb-2">
<div class="col-md-12">
  <button type="button" class="btn btn-primary"
  (click)="EditarEvidenciaSubmit()" data-bs-dismiss="modal"           
  
  >
  Cadastrar Evidência
</button>                  
</div>
</div>
</div>               
</form>
</div>
</div>
</div>
</div>





  <div class="modal" tabindex="-1"  id="ConsultarEvidenciaModal"  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>   
      

        <div class="modal-body">    
          <div *ngIf="matriculaSelecionada">
            <h5>Evidencias do {{ matriculaSelecionada.turmas.curso.curso}} do Funcionário  {{ matriculaSelecionada.funcionario.nome}}</h5>
            <div class="row">

              <div class="col-md-6 mt-3">
             
            </div>

            <div class="col-md-5 mt-3">
              <input type="text" class="form-control" 
                  placeholder="Pesquisar por Evidências" />
          </div>
          <div class="col-md-1 mt-3">
             
          </div>
        </div>

            <table id="consulta_empresas" class="table table-sm table-hover mt-3">
            <thead>
                <tr>
                    <th>Evidências</th>
                    <th>Descrição</th>
                    <th>Evidências</th>
                    <th>Operações</th>

         

                </tr>
            </thead>
                <tbody>      
                  <tr *ngFor="let m of matriculaSelecionada.evidencias ">
                    <td>{{ m?.evidencias }}</td>
                    <td>{{ m?.descricao }}</td>
                    <td>
                   

                    <button class="btn btn-sm btn-outline-primary" 
                    (click)="downloadEvidencias(m)"

                    >
                    Download
                  </button>
                      
                      <button class="btn btn-sm btn-primary" 
                      data-bs-toggle="modal" 
                      data-bs-target="#uploaddaevidenciaModal"
                      data-bs-whatever="@mdo"          		
                       (click)="setEvidencias(matriculaSelecionada)"
                       (click)="setEvidencias(m)"
                      class="btn btn-primary
                      py-1 px-md-1 border">
                      Upload da Evidência</button>

                </td>

                <td>

                        <button class="btn btn-sm btn-primary" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#editarEvidenciaModal"
                                                data-bs-whatever="@mdo"          		
                                                 (click)="setEvidencias(m)"
                                                class="btn btn-primary
                                                py-1 px-md-1 border">
                                                Editar</button>

                        <button class="btn btn-sm btn-outline-danger me-2">
                            Excluir
                        </button>
                    </td>
                </tr>
                

                </table>                                 
      </div>   
      <div class="text-center">
        
    </div>
        </div>
        <div class="modal-footer">
          Quantidade de Evidencias: {{ matriculaSelecionada?.evidencias?.length || 0 }}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
             
        </div>                              
        
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>                  
      </div>
    </div>
  </div>
<div>


  <div class="modal fade" id="uploaddaevidenciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Fazer Upload da Evidência </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>{{mensagem}}</strong>
            <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
        </div>
<form [formGroup]="formUploadEvidencia" (ngSubmit)="UploadEvidenciaSubmit()">
<input type="hidden" formControlName="idEvidencias" [(ngModel)]="id" />
<input type="hidden" formControlName="idMatricula" />


<div class="mb-2">             
</div>
<div class="row">  
<div class="row mb-2">
  <div class="col-md-6">
    <label>Envie a Evidência:</label>
    <input type="file" class="form-control" formControlName="inserir_evidencias" (change)="onFileChange($event)" />
    <span class="text-danger">
      {{ arquivoMsgErro }}
    </span>
  </div>
</div>


</div>
<div class="modal-footer">
<div class="row mb-2">
<div class="col-md-12">
  <button type="button" class="btn btn-primary" 
  
  (click)="UploadEvidenciaSubmit()" data-bs-dismiss="modal">
  Upload da Evidencia
  </button>            
</div>
</div>
</div>               
</form>
</div>
</div>
</div>
</div>

<div class="modal" tabindex="-1"  id="usuariosModal"  >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>                
      <div class="modal-body">    
        <div *ngIf="matriculaSelecionada">
          <h5>Usuários da Matricula do Colaborador {{ matriculaSelecionada?.funcionario?.nome }} e da Empresa {{ matriculaSelecionada?.funcionario?.empresa?.nomefantasia }}</h5>
          <table id="consulta_empresas" class="table table-sm table-hover">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Perfil</th>
                  <th>Operaçoes</th>

              </tr>
          </thead>
              <tbody>      
                <tr *ngFor="let usuario of matriculaSelecionada.usuarios let i = index" >    
                    <td>{{ usuario?.nome }}</td>
                        <td>{{ usuario?.email }}</td>
                        <td>{{ usuario?.perfil?.nome }}</td>
                        <td>
            
                    <button class="btn btn-sm btn-outline-danger me-2"
                    (click)="excluirUsuarioMatricula(matriculaSelecionada?.idMatricula, usuario?.id)"

                    >
                      Excluir
                  </button> 
                </td>
              </table>                                 
    </div>   
    <div class="text-center">
      
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>                  
    </div>
  </div>
</div>







 
          </div>
    </div>
</div>