<app-navbar></app-navbar>
<div class="container mt-5">
		
    <div class="card mt-5">
        <div class="card-body">
        
            <h5>Editar Faturamento mensal de Pessoa Fisica</h5>
            <p>Preencha os campos para criar um Faturamento.</p>
            <hr/>
            
        <div class="text-success">
                    <strong></strong>
                </div>
                
                <div class="text-danger">
                    <strong></strong>
                </div>
                <div *ngIf="mensagem" class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>{{mensagem}}</strong>
                    <button type="button" class="btn-close" aria-label="Close" (click)="mensagem = ''"></button>
                </div>
                <form [formGroup]="formFaturamentopf" (ngSubmit)="onSubmit()">
                            <input type="hidden" formControlName="idfaturamentopf">

                            <div class="row mb-2">
                           
                                <div class="col-md-3 ">
                                  <label>Data de Pagamento</label>
                                  <input type="datetime-local" formControlName="data_de_pagamento" class="form-control" />
                                </div>
                      
                      
                                <div class="col-md-1">
                                  <label>Venda:</label>
                                  <input type="text" name="venda" id="venda" class="form-control" formControlName="venda" />
                                </div>
                      
                                <div class="col-md-1">
                                  <label>Nota Fiscal:</label>
                                  <input type="text" name="notafiscal" id="notafiscal" class="form-control" formControlName="notafiscal" />
                                </div>
                      
                                <div class="col-md-1">
                                  <label>Valor:</label>
                                  <input type="text" name="valor" id="valor" class="form-control" formControlName="valor" />
                                </div>
                                <div class="col-md-3">
                                  <label>Comprador:</label>
                                  <input type="text" name="comprador" id="comprador" class="form-control" formControlName="comprador" />
                                </div>
                      
                                <div class="col-md-3">
                                  <label>Telefone:</label>
                                  <input type="text" name="telefone" id="telefone" class="form-control" formControlName="telefone" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                  <label>Email:</label>
                                  <input type="email" name="email" id="email" class="form-control" formControlName="email" />
                                </div>
                      
                                <div class="col-md-3">
                                  <label>Responsável Financeiro:</label>
                                  <input type="text" name="responsavelfinanceiro" id="responsavelfinanceiro" class="form-control" formControlName="responsavelfinanceiro" />
                                </div>
                      
                                <div class="col-md-3">
                                  <label>Telefone Financeiro:</label>
                                  <input type="text" name="telefonefinanceiro" id="telefonefinanceiro" class="form-control" formControlName="telefonefinanceiro" />
                                </div>
                      
                                <div class="col-md-3">
                                  <label>WhatsApp:</label>
                                  <input type="text" name="whatsapp" id="whatsapp" class="form-control" formControlName="whatsapp" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                  <label>Email Financeiro:</label>
                                  <input type="email" name="emailfinanceiro" id="emailfinanceiro" class="form-control" formControlName="emailfinanceiro" />
                                </div>
                      
                                <div class="col-md-1">
                                  <label>Parcelas:</label>
                                  <input type="text" name="parcelas" id="parcelas" class="form-control" formControlName="parcelas" />
                                </div>
                                
                                <div class="col-md-2">
                                  <label>Forma de Pagamento:</label>
                                  <input type="text" name="formadepagamento" id="formadepagamento" class="form-control" formControlName="forma_de_pagamento" />
                                </div>
                                <div class="col-md-6">
                                  <label>Observações:</label>
                                  <textarea name="observacoes" id="observacoes" class="form-control" formControlName="observacoes"></textarea>
                                </div>
                            </div>

                      
                      
                              <div class="row mb-2 mt-3">
                                <div class="col-md-12">
                                  <button type="submit" class="btn btn-success">Editar Cadastro</button>
                                </div>
                              </div>
                            </form>

            <div class="col-md-12">
                <button (click)="printPage()">Gerar PDF</button>
            </div>
        </div>
    </div>

</div>
