<app-perfil-empresa></app-perfil-empresa>
<div class="container mt-3">
    <div class="card">
        <div class="card-body">

          <div class="modal" tabindex="-1"  id="verCursosModal">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">    
                  <div *ngIf="turmaSelecionada">
                    <strong> Turma {{ turmaSelecionada.numeroTurma }}</strong>
                    <hr>

                    <strong>{{ turmaSelecionada.curso.curso }} {{ turmaSelecionada.curso.descricao }} {{ turmaSelecionada.tipo }} {{ turmaSelecionada.nivel }} carga horária de {{ turmaSelecionada.cargahoraria }}</strong>
                   <hr>
                
                  <strong>Horários</strong>
                  <p>Todos os nossos cursos na unidade Rio de Janeiro iniciam as 8:00 Horas. Temos um Intervalo de 10:00 as 10:20 e paramos
                    para o almoço de 12:00 as 13:00 e Voltamos até o Horário das 17:00 Horas  </p>

                    <p>Todos os nossos cursos na unidade São Paulo iniciam as 9:00 Horas. Temos um Intervalo de 10:00 as 10:20 e paramos
                      para o almoço de 12:00 as 13:00 e Voltamos até o Horário das 17:30 Horas  </p>

                      <p>Todos os nossos cursos na Empresa Parceira iniciam as 9:00 Horas. Temos um Intervalo de 10:00 as 10:20 e paramos
                        para o almoço de 12:00 as 13:00 e Voltamos até o Horário das 17:30 Horas  </p>
                 <hr>
                    <strong>Conteúdo Programático do Curso</strong>
                    <p>{{ turmaSelecionada.curso.conteudo}}</p>
                    <hr>
                    <strong>Instrutor {{ turmaSelecionada.instrutor}}</strong>
                    <hr>
                    <strong>Data do Curso: Curso iniciando no dia {{turmaSelecionada.datainicio | date: 'dd/MM/yyyy'}} tendo seu
                      término no dia {{turmaSelecionada.datafim | date: 'dd/MM/yyyy'}}  </strong>
                    
                    <hr>
                    <strong>Validade do Curso de {{turmaSelecionada.validade}}. Curso Vigente até o dia {{turmaSelecionada.validadedocurso | date: 'dd/MM/yyyy'}} </strong>
                 
                    <hr>

                    <strong>Local do Curso: O Curso será realizado na {{turmaSelecionada.unidadeDeTreinamento.unidadedetreinamento}} {{turmaSelecionada.unidadeDeTreinamento.unidade}} 
                      na  {{turmaSelecionada.unidadeDeTreinamento.endereco.logradouro }}, {{turmaSelecionada.unidadeDeTreinamento.endereco.numero }} {{turmaSelecionada.unidadeDeTreinamento.endereco.complemento }}
                      {{turmaSelecionada.unidadeDeTreinamento.endereco.bairro }}
                      {{turmaSelecionada.unidadeDeTreinamento.endereco.localidade }}
                      {{turmaSelecionada.unidadeDeTreinamento.endereco.uf}}       
                      Cep: {{turmaSelecionada.unidadeDeTreinamento.endereco.cep }}     </strong>
                    
                    <hr>

                  <div class="text-center">
                  </div>
                </div>
        
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>
          

          

        

            <div>
                <div class="row mb-2 mt-4">

                  <div class="col-md-1 mt-1">
                </div>
                    <div class="col-md-8 mt-1">
                        <h5>Lista de Turmas</h5>
                    </div>
               

                </div>
                  <div class="row d-flex justify-content-center ">             
                    <div class="col-11 d-flex justify-content-center bg-light mb-5">
                      <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <span class="navbar-brand">Período: </span>
                        <button class="btn btn-outline-secondary" (click)="mudarMes(-1)">&lt; Anterior</button>
                        
                        <!-- Adição do dropdown para selecionar o mês -->
                        <div class="dropdown mx-3">
                         <button class="btn btn-success m-1 dropdown-toggle" type="button" id="mesDropdown"
                                                  data-bs-toggle="dropdown" aria-expanded="false">
                                                MESES  DO ANO
                                              </button>
                            <ul class="dropdown-menu btn-sm border dropdown-menu-primary">
                             <li> <a class="dropdown-item" (click)="selecionarMes(0)">Janeiro</a></li>
                            <a class="dropdown-item" (click)="selecionarMes(1)">Fevereiro</a>
                            <a class="dropdown-item" (click)="selecionarMes(2)">Março</a>
                            <a class="dropdown-item" (click)="selecionarMes(3)">Abril</a>
                            <a class="dropdown-item" (click)="selecionarMes(4)">Maio</a>
                            <a class="dropdown-item" (click)="selecionarMes(5)">Junho</a>
                            <a class="dropdown-item" (click)="selecionarMes(6)">Julho</a>
                            <a class="dropdown-item" (click)="selecionarMes(7)">Agosto</a>
                            <a class="dropdown-item" (click)="selecionarMes(8)">Setembro</a>
                            <a class="dropdown-item" (click)="selecionarMes(9)">Outubro</a>
                            <a class="dropdown-item" (click)="selecionarMes(10)">Novembro</a>
                            <a class="dropdown-item" (click)="selecionarMes(11)">Dezembro</a>
            
                            </ul>
                        </div>
                      
                        <span class="navbar-text mx-3">{{ periodoAtual }}</span>
                        <button class="btn btn-outline-secondary" (click)="mudarMes(1)">Próximo &gt;</button>      
                      </nav>
                            </div>
            
            
            
                            
                
                </div>
                <div class="table-responsive">
                    <div >
                        <table class="table table-sm table-striped table-hover" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th>QTD</th>
                                    <th>Turma</th>
                                    <th>Inicio</th>
                                    <th>Fim</th>
                                    <th>Curso</th>
                                    <th>Tipo</th>
                                    <th>Nivel</th>
                                    <th>Status</th>
                                    <th>Modalidade</th>
                                    <th>Unidade</th>
                                    <th>C.H</th>
                                    <th>Status</th>
                                    <th>Operaçoes</th>

                                </tr>
                            </thead>
                            <tbody>

                              <tr *ngFor="let t of turmas | paginate: { itemsPerPage: itensPorPagina, currentPage: paginaAtual }, index as i" [class]="getTableRowClass(t)">
 
                                <td> {{i+1}}</td>
                                    <td>Nº {{t.numeroTurma}}</td>
                                    <td>{{t.datainicio | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{t.datafim | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{t.curso.curso}}</td>
                                    <td>{{t.tipo}}</td>
                                    <td>{{t.nivel}}</td>
                                    <td>{{t.status}}</td>
                                    <td>{{t.modalidade}}</td>
                                    <td>{{t.unidadeDeTreinamento.unidade}}</td>                                   
                                    <td>{{t.cargahoraria}}</td>
                    
   <td [ngClass]="{'text-success': !t.turmaFechada, 'text-danger': t.turmaFechada}" style="font-size: larger; text-transform: uppercase;">
    <strong>{{ getStatusTurma(t) }}</strong> </td>

    <td>

      <button class="btn btn-success m-1 btn-sm dropdown-toggle" type="button"
      data-bs-toggle="dropdown" aria-expanded="false">
    Ações
  </button>


  <ul class="dropdown-menu btn-sm border dropdown-menu-success">



      

<li><a  class="dropdown-item btn btn-success" 

data-bs-toggle="modal" 
      data-bs-target="#verCursosModal"
       data-bs-whatever="@mdo"
        (click)="exibirInstrutores(t)"   

>Ver Ementa do Curso</a></li>

<li><a  class="dropdown-item btn btn-success" 

[routerLink]="['/criar-matricula-meu-funcionario', t.idTurmas]"

        (click)="exibirInstrutores(t)"   

>Fazer Matriculas</a></li>


         
          

  </ul>



    </td>

                                  



                  
                                   
                                </tr>



                                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  
                                <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


                                <script>

                           var table = new DataTable('#myTable', {
                                   language: {
                               url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
                                        },
                                             });
                                </script>
                            </tbody>
                             
                            <tfoot>
                              <tr>
                                <td colspan="5">
                  
                                Quantidade de Turmas: {{(turmas).length}}
                                <pagination-controls 
                      (pageChange)="paginaAtual = $event"
                      previousLabel="Página anterior"
                      nextLabel="Próxima página"
                      [maxSize]="5" 
                      [itemsPerPage]="itensPorPagina" 
                    ></pagination-controls>         
                                            </td>
                              </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
     

    