<app-navbar></app-navbar>
<div class="container mt-5">
		
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
              
                <div class="col md-8">
                 <h5>Cadastro de Contrato</h5>
                      <p>Preencha os campos para incluir o Contrato.</p>
                             </div>

                             <div class="col md-2">
                           
                                            </div>

          
                    
                    
                    </div>
                    <hr />
            <form >
            
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label>Número do Contrato:</label>
                        <input  type="text" name="nome" id="nome" class="form-control"/>
                    </div>
                    
                    <div class="col-md-6">
                        <label>Empresa:</label>
                        <input  type="text" name="valor" id="valor" class="form-control"/>
                    </div>
        
                    
                    <div class="col-md-6 mt-3">
                        <label>CNPJ:</label>
                        <input   type="text" name="valor" id="valor" class="form-control"/>
                    </div>
                
                    
                
                    <div class="col-md-6 mt-3">
                        <label>Endereço:</label>
                        <input   type="text" name="nome" id="nome" class="form-control"/>
                    </div>
                </div>
    
                
                <div class="row mb-2">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success" value="Realizar Cadastro"/>
                    </div>
                </div>
            
            </form>
        
        </div>
    </div>

</div>
