<app-navbar></app-navbar>
<div class="container mt-5">
		
    <div class="card mt-5">
        <div class="card-body">
        
            <h5>Incluir Pedido de Compras</h5>
            <p>Preencha os campos para incluir um Pedido de Compras.</p>
            <hr/>
            
        <div class="text-success">
                    <strong></strong>
                </div>
                
                <div class="text-danger">
                    <strong></strong>
                </div>
            
            <form >
            
                <div class="row mb-2">
                    <div class="col-md-4">
                        <label>Pedido de Compras:</label>
                        <input  type="text" name="nome" id="nome" class="form-control"/>
                    </div>
                    
                    <div class="col-md-4 mt-4">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Contrato</option>
                            <option value="1">Luiz Eduardo Grandin</option>
                            <option value="1">Jessé Santanna da Silva</option>
                            <option value="1">Adeilton dos Santos Marinho</option>
                            <option value="1">Leandro</option>
                            <option value="1">Torres</option>
                            <option value="1">Rogério</option>
                        </select>
                    </div>
                    
                    
                    <div class="col-md-4 mt-4">
                        <select class="form-select" aria-label="Default select example">
                            <option selected> CNPJ </option>
                            <option value="1">Luiz Eduardo Grandin</option>
                            <option value="1">Jessé Santanna da Silva</option>
                            <option value="1">Adeilton dos Santos Marinho</option>
                            <option value="1">Leandro</option>
                            <option value="1">Torres</option>
                            <option value="1">Rogério</option>
                        </select>
                    </div>
                    </div>
                
                <div class="row mb-2">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success" value="Realizar Cadastro"/>
                    </div>
                </div>
            
            </form>
        
        </div>
    </div>

</div>
